sqlalchemy>=1.1.11

# sqlalchemy can use a variety of modules to connect to different SQL 
# databases.  These are the ones that are tested, but others should be able to
# be used, too.

# Only necessary if you are using MySQL
mysqlclient>=1.3.10
# Only necessary if you are using Postgres
psycopg2>=2.7.1
# SQLite does not require any additional modules
