.form-group
  label.control-label(for="g-edit-dbas-dbtype") Database Type
  select.input-sm.form-control#g-edit-dbas-dbtype
    option(value='mongo') MongoDB
    option(value='sqlalchemy_postgres') PostgreSQL
    option(value='sqlalchemy') Generic SQL
.form-group
  label.control-label(for="g-edit-dbas-dburi") Database URI
  input.input-sm.form-control#g-edit-dbas-dburi(
    type="text", placeholder="URI -- (dialect)://(user):(password)@(server):(port)/(database)?(options)")

