.form-group
  label.control-label(for="g-edit-dbas-dburi") Database URI
  input#g-edit-dbas-dburi.input-sm.form-control(
    type="text", placeholder="URI -- (dialect)://(user):(password)@(server):(port)/(database)?(options)")
