include dbAssetstoreMixins

.g-body-title Import a table or collection from a database
.g-dbas-import-instructions.
  Use this page to import an existing table or collection from the Database
  assetstore.

form.g-dbas-import-form
  +g-dbas-import-tables
  .form-group
    label(for="g-dbas-import-dest-type") Destination type
    select#g-dbas-import-dest-type.form-control
      option(value="folder", selected=true) Folder
      option(value="user") User
      option(value="collection") Collection
  .form-group
    label(for="g-dbas-import-dest-id") Destination ID
    .input-group.input-group-sm
      input#g-dbas-import-dest-id.form-control.input-sm(
          type="text",
          placeholder="Existing folder, user, or collection ID to use as the destination")
      .input-group-btn
        button.g-open-browser.btn.btn-default(type="button")
          i.icon-folder-open
  .g-validation-failed-message
  button.g-submit-dbas-import.btn.btn-success(type="submit")
    i.icon-link-ext
    |  Begin import
