a.g-dbas-import-button.btn.btn-sm.btn-success(
    href=`#database_assetstore/${assetstore.get('_id')}/import`,
    title="Import a table or collection from the Database")
  i.icon-link-ext
  |  Import
